<h2 class="text-center">
<%= @chat_room %>
<br/>
<small>
<%= link_to 'Back', chat_rooms_path, class: 'btn btn-primary btn-sx' %>
</small>
</h2>
<%= react_component('ChatRoom', { chat_room: @json_object }) %>
