<br />
<div class="booyah-box col-12">
  <h1>
    Welcome to the Pawn Stars chess app. 
  </h1>
  <p>
    One doesn't have to play well, it's enough to play better than your opponent! Checkmate?
  </p>
</div>