<div class="booyah-box">
  <div class="row">
    <div class="col-4">
      <%= image_tag 'user.png', height: '350', width: '350' %>
    </div>

    <div class="col-8">
      <h1><%= @user.email %></h1>
      <h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
    </div>
  </div>
  <div class="clear"></div>
</div>

  <div class="container">
    <div class="booyah-box row">
      <div class= "col-lg-2 offset-3">
        <h4>WINS</h4>
      </div>
      <div class= "col-lg-2">
        <h4>LOSSES</h4>
      </div>
      <div class= "col-lg-2">
        <h4>DRAWS</h4>
      </div>
    </div>
  </div>
    
  </center>
</div>

<br />
<br />
<div class="booyah-box">
  <center>
    <div class= "col-md-6">
      <h3>Current Games</h3>
    </div>
<br />
<br />
    <div class="col-md-6">
      <h3>Completed Games</h3>
    </div>
  </center>
</div>
