<div class="chess-board">
  
      <% (1..8).each do |y_pos| %>
        <div id = <%= y_pos %>>
          <% (1..8).each do |x_pos| %>
            <div data-x-pos = "<%= x_pos %>" 
                  data-y-pos = "<%= y_pos %>" 
                  class = "<%= square_class(y_pos, x_pos) %>">
            </div>
          <% end %>
        </div>
      <% end %>
</div>