// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#start {
  color: #045B6C;
  font-family: 'Fredericka the Great', cursive; 
  font-size: 40px;
}

#choose {
  color: #045B6C;
  font-family: 'Fredericka the Great', cursive;
  font-size: 30px;
}

<<<<<<< HEAD
.black-square {
  background: black;
}

.white-square {
  background: white;
}

body {
    background: gray;
    padding: 20px;
}
table {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

    border-collapse: collapse;
    background: black;
    padding-top: 50px;
}
td {
   width: 75px; height: 75px;
}
=======



>>>>>>> 91ca71d35155ff24e6b999aaceb5a76a61aa11d3
